.container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    font-family: sans-serif;
}

.accent-font {
    font-family: 'Lobster', cursive;
}

img {
    width: 9.5em;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}


.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    transition: all 0.7s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.button {
padding: 0.5em 1em;
margin: 0.5em;
background-color: rgb(68, 37, 192);
border-radius: 0.25em;
color: white;
text-decoration: none;
transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: rgb(206, 185, 224);
    color: rgb(68, 37, 192);
    transform: scale(1.1) ;
}

.accent-color {
    color: rgb(68, 37, 192);
}

.social {
    color: white;
    text-decoration: none;
    margin: 0.5em;
    text-align: center;
    background-color: rgb(68, 37, 192);
    padding: 0.25em;
    border-radius: 0.25em;
    aspect-ratio: 1/1;
    width: 1em;
    font-size: 1.5em !important;
    transition: all 0.3s ease-in-out;
}

.social:hover {
    background-color: rgb(206, 185, 224);
    color: rgb(68, 1, 126);
    transform: scale(1.5) rotate(360deg) ;
}

#social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .card {
        width: 100%;
        border-radius: 0;
    }

}